h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	color: #8B0000;
	text-align: center;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	text-align: center;
}

.stripes {
	display: flex;
	flex-direction: row;
}

.bluestripes {
	background: url(../images/bluewhitestripe.png) repeat;
	flex: 1;
}

.title {
	flex: 2;
	text-align: center;
	line-height: 2.2em;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	color: #000000;
	text-align: center;
}